.wrapper {
    display: flex;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.wrapper .section {
    margin-top: 54px;
    padding-top: 30px;
    max-width: 975px;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper .section .content {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    align-items: stretch;
    border: 0 solid #000;
    display: flex;
    flex-shrink: 0;
}

.wrapper .section .sidebar {
    width: 100%;
    max-width: 325px;
    position: fixed;
    top: 88px;
    left: 1110px;
}

.sidebar-hidden {
    width: 100%;
}